<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PHP-POO | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="http://localhost:8000/assets/style.css" rel="stylesheet"> 
    {% block custom_css %}{% endblock %}
</head>

<body class="grey lighten-5">
    {% include './layouts/navbar.html.twig' %}
    <main>
        <div class="container">
            <h1>{% block section_title %}{% endblock %}</h1>
            {% block container %}{% endblock %}
        </div>
    </main>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="http://localhost:8000/assets/script.js"></script>
{% block custom_js %}{% endblock %}
</html>
